

.card{
    margin: 40px 15px 20px 15px;
    text-align: center;
    align-items: center;
    border: solid orange;
    color:black;
    width: 25%;
}

.projects-container{
    display: flex;
    flex-direction: row;
}

.card-link{
    font-size: 14px;
}

.card img{
    margin-top: 10px;
    max-width:90%;
    height: auto;
}



.card-container{
   display: flex;
   flex-direction: column;
}

